<h1>Dashboard - {{username}}'s Posts</h1>

{{#each blogs}}
<div class="card text-black my-3">
    <div class="row card-header">

        <div class="col-lg-5">
            <h4 class="text-black">{{title}}</h4>
        </div>

        <div class="col-lg-2">
            {{#if belongsToUser}}
            <a href='/blog/{{id}}'>
                <button class="editBlog">Edit Post</button>
            </a>
            {{/if}}
        </div>

        <div class="col-lg-5">
            <p> Posted by: {{user.name}} on {{format_date createdAt}}</p>
        </div>
    </div>

    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>
{{/each}}
{{!-- TODO: CHANGE EDIT POST LOGIC AND INCLUDE NEW POST VIEW/BUTTON LOGIC --}}